[tcpout]
defaultGroup = splunk
disabled = false

[tcpout:splunk]
server = {{ splunk-hf-0 }}:{{ splunk_forwarder_indexer_notls_port }}, {{ splunk-hf-1 }}:{{ splunk_forwarder_indexer_notls_port }}
disabled = 0
