[tcpout]
defaultGroup = splunk
disabled = false

[tcpout:splunk]
server = {{ splunk_hf_0 }}:{{ splunk_forwarder_indexer_notls_port }}, {{ splunk_hf_1 }}:{{ splunk_forwarder_indexer_notls_port }}
disabled = 0
