[tcpout]
defaultGroup = splunk
disabled = false

[tcpout:splunk]
server = {{ splunk_forwarder_indexer_hostname | map('regex_replace', '^(.*)$', '\\1:' + (splunk_forwarder_output_use_tls | ternary(splunk_forwarder_indexer_tls_port, splunk_forwarder_indexer_notls_port)) | string) | join(', ') }}
disabled = 0
{% if splunk_forwarder_output_client_cert_path and splunk_forwarder_output_use_tls %}
clientCert = {{ splunk_forwarder_output_client_cert_path }}
{% endif %}
